
Authoring App System functions:

The Authoring App is designed to work in conjunction with Treasure Box Braille (TBB)
and allow the creation, editing and testing of scenarios. The App also contains greater
functions in working with scenarios by recording audio and integrating text to speech.
All features are also build to be used by the visually-impaired.


Use Cases:

1.	Creation of new scenarios
2.	Editing of old scenarios
3.	Testing of scenarios
4.	Recording audio for scenarios

Acceptance Test Cases:
1.	Create a Scenario containing both text to speech and recorded audio. Then edit Scenario
	to remove some text and add more audio. Then run the scenario to see if results match
	the expected. 

